<main class="container">
  <h2 class="text-center mb-s">Log in</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form form__centered mb-s" } ) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class:"mb-s" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class:"mb-s" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="flex flex__justify-center flex__items-center">
        <%= f.button :submit, "Log in", class:"btn btn--primary" %>
      </div>
    </div>
  <% end %>
  <div class="empty-state">
    <h3>You can login with the following credentials</h3>
    Login : manager@kpmg.com <br>
    Password : password
    <h4>And to test turbo stream:</h4>
    <p>Log with the above password.</p>
    <p>Then open a private browser and log in with : </p>
        Login : accountant@kpmg.com<br>
        Password : password
    <p>Go on Quote#index page, and create a quote with one of the logins.</p>
    <p>The quote will be broadcasted, meaning the other user will see his quote#index page updated.</p>
  </div>



  <%= render "devise/shared/links" %>
</main>
